.spotContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background: linear-gradient(96deg, #2b1d37 16.42%, #1c152b 97.35%);
}
.spotFBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.spotSideMenu {
  width: 30%;
  height: 669px;
  border-radius: 16px;
  /* opacity: 0.24; */
  /* background: linear-gradient(96deg, #485c84 16.42%, #383838 97.35%); */
  background: linear-gradient(96deg, #485c841c 16.42%, #38383824 97.35%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.spotNavMenu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.sideBoxMenu {
  height: 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sideMenuGText {
  color: #fff;
  font-family: "Inter" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  text-transform: capitalize;
}

.sideBoxMenu p {
  color: #fff;
  font-family: "Inter" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  margin: 0 20px !important;
}

.spotGraphBox {
  width: 70%;
  height: 669px;
  border-radius: 16px;
  opacity: 0.24;
  background: linear-gradient(96deg, #485c84 16.42%, #383838 97.35%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 12px;
  padding: 24px;
}
.sideBoxMene {
  width: 118px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  opacity: 0.4;
  background: #18141c;
}
.sideBoxMene p {
  color: #fff;
  font-family: "Clash Display" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}
.spotOderBox {
  width: 100%;
  height: 250px;
  /* background: #383838; */
  display: flex;
  flex-direction: column;
}
.spotLBoxHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.spotTabelHeaderText {
  color: #fff;
  text-align: center;
  font-family: "Clash Display" !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 36px !important;
}
.oderDropBox {
  width: 179px;
  height: 49px;
  border-radius: 8px;
  /* opacity: 0.4; */
  background: #18141c48;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.oderDropBox p {
  color: var(--Primary-white, #fff);
  font-family: "Montserrat" !important;
  font-size: 16p !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 25.765px !important;
}
.spotLBoxTable {
  width: 100%;
}
