.spotContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background: linear-gradient(96deg, #2b1d37 16.42%, #1c152b 97.35%);
}

.spotFBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.spotSideMenu {
  width: 30%;
  max-width: 460px;
  height: 669px;
  border-radius: 16px;
  /* opacity: 0.24; */
  /* background: linear-gradient(96deg, #485c84 16.42%, #383838 97.35%); */
  background: linear-gradient(96deg, #485c841c 16.42%, #38383824 97.35%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.spotNavMenu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.sideBoxMenu {
  height: 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sideMenuGText {
  color: #fff;
  font-family: "Inter" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 5px !important;
}

.sideBoxMenu p {
  color: #fff;
  font-family: "Inter" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  /* margin: 0 30px !important; */
}

.market {
  width: 113px;
}

.limit {
  width: 97px;
  margin: 0 5px;
}

.SMarket {
  width: 154px;
}

.spotGraphBox {
  width: 70%;
  height: 669px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  /* opacity: 0.24; */
  background: linear-gradient(96deg, #49558f17 16.42%, #38383859 97.35%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 12px;
  padding: 24px;
}

.sideBoxMene {
  width: 118px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  opacity: 0.4;
  background: #18141c;
}

.sideBoxMene p {
  color: #fff;
  font-family: "ClashDisplay-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}

.spotOderBox {
  width: 100%;
  /* background: #383838; */
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.spotLBoxHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 24px;
}

.spotTabelHeaderText {
  color: #fff;
  text-align: center;
  font-family: "ClashDisplay-Regular" !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 36px !important;
}

.oderDropBox {
  width: 179px;
  height: 49px;
  border-radius: 8px;
  /* opacity: 0.4; */
  background: #18141c48;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.oderDropBox p {
  color: var(--Primary-white, #fff);
  font-family: "Montserrat" !important;
  font-size: 16p !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 25.765px !important;
}

.spotLBoxTable {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabeinnerSection {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.usdTHeader {
  width: 100%;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.usdSelectorBox {
  width: 145px;
  border-radius: 4px;
  border: 2px solid #3192a7;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
  margin-right: 8px;
}

.usdSelectorBox p {
  color: #fff;
  font-family: Inter;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  margin-left: 4px !important;
}

.dwonArrow {
  margin-left: 29px !important;
  cursor: pointer;
}

.usdTBox {
  width: 242px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border: 2px solid #3192a7;
}

.usdTBox>div {
  width: 50%;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.usdTBox> :last-child {
  border-left: 2px solid #3192a7;
}

.usdTBox p {
  color: #fff;
  font-family: Inter;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}

.usdTHeaderValue {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.usdTHeaderValueItem {
  width: 20%;
  height: 24px;
  display: flex;
  justify-content: center;
}

.usdTHeaderValueItem p {
  color: #fff;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}

.customBtn p {
  color: #fff;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}

.customBtn {
  border-radius: 4px;
  opacity: 0.5;
  background: #18141c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholderRefres_box {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.RusdTBox> :last-child {
  border: 0px;
}

.RusdTBox {
  display: flex;
  align-items: center;
  padding: 0 15px;
  flex-direction: row;
  justify-content: space-between;
}

.buyBtn {
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #41f8f8;
  margin-top: 24px;
  cursor: pointer;
}

.buyBtn p {
  color: #18141c;
  font-family: "inter" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
}

.tabsectionLabel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sideMenuGTextL {
  margin-right: 38% !important;
}

.SMsideMenuGTextL {
  margin-right: 45% !important;
}

.tableRow {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #236675;
}

.tableRowItem {
  width: 120px;
  display: flex;
  align-items: start;
}

.tableRowItem p {
  color: #fff;
  text-align: right;
  font-family: "inter" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 36px;
  /* 225% */
}

.lineGraphBox {
  width: 100%;
  height: 70%;
  margin-bottom: 45px;
}

.lineGraphBox canvas {
  width: 100% !important;
  height: 100% !important;
}

.graphBtnBox {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.graphBtn {
  height: 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.graphBtn p {
  font-family: "Inter" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}

.lineBtn {
  width: 84px;
}

.jpnsBtn {
  width: 118px;
}